<!DOCTYPE html>
<html>

<head>
    <title>DysAssist | <%= yield(:title) %> </title>
    <link rel="icon" href="dyspraxia.jpg">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%# If you set the custom_css parameter in a page, it will be inserted here. %>
    <%= stylesheet_link_tag(yield(:custom_css), media: 'all', 'data-turbolinks-track' => true) if yield(:custom_css)!=nil %>
</head>

<body>

<header class="small">
    <nav><%=image_tag('firstlogo.jpg', alt: "DysAssist", class: "logo") %>
<% if logged_in? %>
        <ul id="menu">
         <li><a href="/home.html" class="drop">Home</a></li>
         <li><a href="#" class="drop">Exercises</a><!-- Begin 4 columns Item -->             
                <div class="dropdown_4columns"><!-- Begin 4 columns container -->
                    <div class="col_1">
                        <ul>
                            <li><a href="#">Group</a></li>
                            <li><a href="#">Individual</a></li>
                            <li><a href="#">Recent</a></li>
                          
                        </ul>  
                    </div>
                    <div class="col_1">
                        <ul>
                            <li><a href="#">5 minute</a></li>
                            <li><a href="#">10 minute</a></li>
                            <li><a href="#">15 minute</a></li>
                        </ul> 
                    </div>
                    <div class="col_1">
                   <div class="menutext">
                        <ul>
                            <li><a href="#">20 minute</a></li>
                            <li><a href="#">Incompleted</a></li>
                            <li><a href="#">Completed</a></li>
                        </ul>   
                          </div>
                    </div>
                </div><!-- End 4 columns container -->
            </li><!-- End 4 columns Item -->
         <li><a href="/account.html" class="drop">My Account</a></li>
         <li><a href="/signout.html" class="drop">Sign Out</a></li>
        </ul>
<% end #of login check %>
    </nav>
</header>

<%# Only show the page if the user is logged in, or the page allows it. %>

<div id="wrapper"</div>
<% if logged_in? || (!@allow_non_user.nil? && @allow_non_user==true) %>
  <%= yield %>
<% else #if the user is not supposed to be here  %>
  <h1>You must sign in in order to view this page.</h1>
<% end %>
</div>


<footer>
    <table id="footer_table">
        <thead>
            <tr>
                <td class = "title">Customer Reviews</td>
                <td class = "title">Information</td>
                <td class = "title">Contact</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>"Motivates me to do my exercises every day."</td>
                <td><p class="footer"><a href="FAQS.html">FAQs</a></p></td>
                <td><p class="footer">Email us - dysassist@hotmail.com</p></td>
            </tr>
            <tr>
                <td><p class="footer">Robby, Meath</p></td>
                <td><p class="footer"><a href="dyspraxiainfo.html" class="link">Dyspraxia</a></p></td>
                <td><p class="footer">Phone us - 090 00 0000</p></td>
            </tr>
            <tr>
                <td><p class="footer"><i>"I'm finding everyday tasks easier."</i></p></td>
                <td><p class="footer"><a href="termsAndCond.html">Terms and Conditions</a></p></td>
                <td><p><a href="https://www.facebook.com/">Message us on Facebook</a></p></td>
            </tr>
            <tr>
                <td class="first"><p class="footer">Ciara, Donegal</p></td>
                <td class="second"><p class="footer"><a href="aboutUs.html" class="link">About Us</a></p></td>
            </tr>
        </tbody>
    </table>
</footer>
</body>
</html>
