<%= stylesheet_link_tag    'firsthomepage', media: 'all', 'data-turbolinks-track' => true %>


<% provide(:title, "Sign Up") %>
<% @allow_non_user = true %>

<section>
<br>
<div class="box">
<p class="subtitle">Join Us!</p>
<br>
<%= form_for(@user, :html => {:id => "hongkiat-form"}) do |f| %>


<%= render 'shared/error_messages' %>
<br>
<%= f.text_field :first_name, placeholder: "First name",  style: "width:100%" %>
<br>
<br>
<%= f.text_field :second_name, placeholder: "Last name", style: "width:100%" %>
<br>
<br>
<%= f.text_field :user_name, placeholder: "Username", style: "width:100%" %>
<br>
<br>
<%= f.date_field :age, placeholder: "Date of Birth",  style: "width:100%" %>
<br>
<br>
<%= f.label "Password" %>
<%= f.password_field :password, style: "width:100%" %>
<br>
<br>
<%= f.label "Confirm Password" %>
<%= f.password_field :password_confirmation,style: "width:100%" %>
<br>
<br>
<%= f.email_field :email, placeholder: "Email address",  style: "width:100%" %>
<br>

<section id="buttons">
         <input name="submit" id="submitbtn" class="home_button button" value="Sign Me Up!" type="submit">
         <br style="clear:both;">
        </section>
<% end %>
</section>
</form>
</div>
</div>
 </section>
