<% provide(:title, "Exercises") %>
	<ul class="cd-accordion-menu">
	<li class="has-children">
		<input type="checkbox" name ="individual" id="individual" checked>
		<label for="individual">Individual Exercises</label>
                <ul>
				<% Exercise.all.each do |e| %>
                                        <% if e.group==0 %>
					<li><a href="/exercise.html/?id=<%= e.id %>"> <%= raw(e.title) %></a></li>
				        <% end %>
					<% end %>
  			
  		</ul>
	</li>
	<li class="has-children">
		<input type="checkbox" name ="group-2" id="group-2" checked>
		<label for="group-2">Group Exercises</label>
 
  		 <ul>
				<% Exercise.all.each do |e| %>
                                        <% if e.group==1 %>
					<li><a href="/exercise.html/?id=<%= e.id %>"> <%= raw(e.title) %></a></li>
					<% end %>
					<% end %>
  			
  		</ul>
	</li>
	<li class="has-children">
		<input type="checkbox" name ="group-3" id="group-3" checked>
		<label for="group-3">All Exercises</label>
 
  		
 
				 <ul>
				<% Exercise.all.each do |e| %>
					<li><a href="/exercise.html/?id=<%= e.id %>"> <%= raw(e.title) %></a></li>
					
					<% end %>
  			
  		</ul>
	</li>
</ul> <!-- cd-accordion-menu -->
	
	
	
	
	
	
	
	
