<% provide(:title, "Exercises") %>
<h1>Exercises</h1>

<% Exercise.all.each do |e| %>
<p>Title:
<a href="/exercise.html/?id=<%= e.id %>"> <%= raw(e.title) %>.</a></p>
<p>Description: <%= raw(e.description) %>.</p>
<p>Image: <%= e.image_url %>.</p>
<p>Rating: <%= e.rating %>.</p>
<hr>
<% end %>
