<!--FIRST HOME PAGE-->
<% @allow_non_user = true %>
<% provide(:title, "Home") %>
<%= stylesheet_link_tag    'firsthomepage.css', media: 'all', 'data-turbolinks-track' => true %>

<% if !logged_in? %>
<section id="home_buttons">
    <a href="signup.html"><input type="submit" name="submit" id="submitbtn" class="home_button button" value="Sign Up!"></a><br>
    <a href="signin.html"><input type="reset" name="reset" id="resetbtn" class="home_button button" value="Login"></a>    
</section>
<!-- End of first homepage -->

<!--SECOND HOME PAGE-->
<% else %>
<section>
<center><h1 class="title">Welcome back, <%= @current_user.user_name %>!</h1></center>
<br>
<h2>Incompleted Exercises</h2>

<br>
<div class="box">
<ul>
<%
counter=0
Exercise.all.each do |e|
  if counter==5
    break
  end
  counter=counter+1
  if !exercise_completed? e %>
  <a href="/exercise.html?id=<%=e.id%>"><li><%=e.title%></li></a>
  <%end%>
<%end%>

</ul>


</div>
<br>
<h2>Recommended Exercises</h2>
<br>
<div class="box">
<ul>
<%Exercise.all.to_a.sample(5).each do |e|%>
<a href="/exercise.html?id=<%=e.id%>"><li><%=e.title%></li></a>
<%end%>
</ul>
</div>

</section>
</div>
</body>
<% end %>
<!-- End of second homepage -->

