<% @allow_non_user = true %>
<% provide(:title, "Home") %>

<% if !logged_in? %>
<!--FIRST HOME PAGE-->
<%= stylesheet_link_tag    'firsthomepage', media: 'all', 'data-turbolinks-track' => true %>

<section id="home_buttons">
    <a href="signup.html"><input type="submit" name="submit" id="submitbtn" class="home_button button" value="Sign Up!"></a><br>
    <a href="signin.html"><input type="submit" name="submit" id="submitbtn" class="home_button button" value="Login"></a>    
</section>
<!-- End of first homepage -->

<!--SECOND HOME PAGE-->
<% else %>
<section>
<h1 class="title">Welcome back, <%= @current_user.user_name %>!</h1>
<br>
<h2>Incompleted Exercises</h2>

<br>

<div id="bannercontainer">

    <div class="photobanner">
<%counter=0
Exercise.all.each do |e|
  if counter==11
    break
  end
  counter=counter+1
  if !exercise_completed? e %>
  <%if counter==1%>
  <a href="/exercise.html?id=<%=e.id%>"><%= image_tag ("GIFS/Exercise Images/"+e.image_url), class: "first" %></a>
  <%else%>
  <a href="/exercise.html?id=<%=e.id%>"><%= image_tag ("GIFS/Exercise Images/"+e.image_url), class: "banner" %></a>
  <%end%>
  <%end%>
<%end%>
     
     
    </div>
</div>


</div>
<br>
<h2>Recommended Exercises</h2>
<br>
<div id="bannercontainer">

<div class="photobanner">
<%counter=0
  Exercise.all.to_a.sample(11).each do |e|
  counter=counter+1
  if !exercise_completed? e%>
   <%if counter==1%>
    <a href="/exercise.html?id=<%=e.id%>"><%= image_tag ("GIFS/Exercise Images/"+e.image_url), class: "first" %></a>
   <%else%>
    <a href="/exercise.html?id=<%=e.id%>"><%= image_tag ("GIFS/Exercise Images/"+e.image_url), class: "banner" %></a>
   <%end%>
  <%end%>
<%end%>


</div>
</div>

</section>
</div>
</body>
<% end %>
<!-- End of second homepage -->

